body {
    background-color: burlywood;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;

}

ul {
    list-style: none;
}
